In [164]:
!pip install xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.6/dist-packages (1.1.0)

In [0]:
import pandas as pd
import numpy as np
from scipy import stats

In [166]:
#LoadData
path = ('/sample_data')  
df = pd.read_csv('MAP - Sheet1.csv')
df

   Q1  Q2  Q3  Q4  Q5  P1  P2  P3  P4  P5
0   1   1   0   1   0   1   1   1   0   0
1   1   1   0   1   0   0   1   0   0   0
2   1   1   0   1   1   1   1   1   1   0
3   0   1   1   0   1   1   0   0   1   1
4   0   1   1   1   0   0   0   0   1   1
5   1   1   1   1   0   0   0   1   1   0
6   1   0   0   0   0   1   1   0   0   0
7   1   0   0   1   0   0   0   0   0   0
8   0   0   1   0   0   0   1   1   0   0
9   1   0   1   1   0   1   1   0   0   1

In [0]:
#ChangeToArray
Q1=np.array(df['Q1'])
Q2=np.array(df['Q2'])
Q3=np.array(df['Q3'])
Q4=np.array(df['Q4'])
Q5=np.array(df['Q5'])
P1=np.array(df['P1'])
P2=np.array(df['P2'])
P3=np.array(df['P3'])
P4=np.array(df['P4'])
P5=np.array(df['P5'])

In [0]:
#CalculatingAP
def AP(Q):
  mean=[]
  for i in range(1,len(Q)+1):
    mean.append(np.mean(Q[0:i]))
    mean1=np.array(mean)
  AP=(np.dot(mean1,Q))/(np.sum(Q))
  return AP

In [169]:
#CalculatingMAP&T-Test
AP_inner=np.array([AP(Q1), AP(Q2), AP(Q3), AP(Q4), AP(Q5)])
AP_BM25=np.array([AP(P1), AP(P2), AP(P3), AP(P4), AP(P5)])
MAP_inner=np.mean(AP_inner)
MAP_BM25=np.mean(AP_BM25)

t_test=stats.ttest_ind(AP_inner, AP_BM25)
print(t_test,"MAP inner= ", MAP_inner, "MAP BM25= ",MAP_BM25)

Ttest_indResult(statistic=0.7618519012838434, pvalue=0.46801137623184774) MAP inner=  0.7075192743764172 MAP BM25=  0.5959788359788358

In [0]:
#AP_inner=np.array([0.832, 0.911])
#AP_BM25=np.array([0.822, 0.943])
#MAP_inner=np.mean(AP_inner)
#MAP_BM25=np.mean(AP_BM25)

#t_test=stats.ttest_ind(AP_inner, AP_BM25)
#print(t_test,"MAP inner= ", MAP_inner, "MAP BM25= ",MAP_BM25)

In [0]:
#mean=[]
#for i in range(1,len(Q)+1):
#  mean.append(np.mean(Q[0:i]))
#  mean1=np.array(mean)
#AP=(np.dot(mean1,Q))/(np.sum(Q))