In [1]:
!pip install xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.6/dist-packages (1.1.0)

In [0]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
#LoadData
path = ('/sample_data')  
df = pd.read_csv('MAP - Sheet1.csv')
df

    Q1  Q2  Q3  Q4  Q5  Q6  Q7  Q8  Q9  ...  P2  P3  P4  P5  P6  P7  P8  P9  P10
0    1   1   1   1   1   1   1   0   0  ...   1   1   1   1   1   1   1   0    1
1    1   1   1   1   1   1   1   1   0  ...   1   1   1   1   1   1   1   1    1
2    1   0   1   1   1   1   1   0   1  ...   0   1   1   1   1   1   1   1    0
3    0   1   1   1   1   1   1   1   1  ...   1   1   1   1   1   1   1   1    0
4    0   1   1   1   1   1   1   1   1  ...   0   1   1   0   1   1   1   1    1
5    1   1   1   0   1   1   1   1   1  ...   1   1   1   0   1   0   1   1    0
6    1   1   1   1   1   1   1   1   1  ...   1   1   0   1   1   1   1   1    1
7    1   1   1   1   1   1   1   1   1  ...   1   1   1   1   1   0   1   1    1
8    1   1   1   1   1   1   1   1   1  ...   1   1   1   1   1   1   1   1    1
9    0   1   1   0   1   1   1   1   1  ...   1   1   1   1   1   1   0   1    1
10   0   1   1   1   0   1   1   1   0  ...   1   1   1   1   1   1   1   1    0
11   1   1   1   1   1   1   1   1   0  ...   1   1   1   1   1   1   1   0    1
12   1   1   1   1   1   1   0   0   1  ...   1   1   1   1   1   1   1   1    1
13   1   1   1   1   0   1   0   0   1  ...   1   1   0   0   1   1   1   1    1
14   1   1   1   1   1   1   1   1   0  ...   1   1   1   1   1   0   1   0    1
15   1   1   1   0   1   1   1   1   1  ...   1   1   1   1   1   0   1   1    0
16   1   1   1   1   1   1   1   1   0  ...   1   1   1   1   1   0   1   1    1
17   1   1   1   1   1   1   0   1   1  ...   1   1   0   1   1   1   1   1    0
18   1   1   1   0   1   1   0   0   0  ...   1   1   1   1   1   0   0   1    0
19   1   1   0   1   1   1   0   1   0  ...   1   1   0   0   1   1   1   0    1

[20 rows x 20 columns]

In [0]:
#ChangeToArray
Q1=np.array(df['Q1'])
Q2=np.array(df['Q2'])
Q3=np.array(df['Q3'])
Q4=np.array(df['Q4'])
Q5=np.array(df['Q5'])
Q6=np.array(df['Q6'])
Q7=np.array(df['Q7'])
Q8=np.array(df['Q8'])
Q9=np.array(df['Q9'])
Q10=np.array(df['Q10'])
P1=np.array(df['P1'])
P2=np.array(df['P2'])
P3=np.array(df['P3'])
P4=np.array(df['P4'])
P5=np.array(df['P5'])
P6=np.array(df['P6'])
P7=np.array(df['P7'])
P8=np.array(df['P8'])
P9=np.array(df['P9'])
P10=np.array(df['P10'])

In [0]:
#CalculatingAP
def AP(Q):
  mean=[]
  for i in range(1,len(Q)+1):
    mean.append(np.mean(Q[0:i]))
    mean1=np.array(mean)
  AP=(np.dot(mean1,Q))/(np.sum(Q))
  return AP

In [13]:
#CalculatingMAP&T-Test
AP_inner=np.array([AP(Q1), AP(Q2), AP(Q3), AP(Q4), AP(Q5), AP(Q6), AP(Q7), AP(Q8), AP(Q9), AP(Q10)])
AP_BM25=np.array([AP(P1), AP(P2), AP(P3), AP(P4), AP(P5), AP(P6), AP(P7), AP(P8), AP(P9), AP(P10)])
MAP_inner=np.mean(AP_inner)
MAP_BM25=np.mean(AP_BM25)

t_test=stats.ttest_ind(AP_inner, AP_BM25)
print(t_test,"MAP inner= ", MAP_inner, "MAP BM25= ",MAP_BM25)

Ttest_indResult(statistic=-0.7916173137398991, pvalue=0.43889179492745) MAP inner=  0.8072743163242475 MAP BM25=  0.8744694974556285

In [7]:
AP_inner

array([0.78733006, 0.90713651, 1.        , 0.89371081, 0.95263272])

In [0]:
#AP_inner=np.array([0.832, 0.911])
#AP_BM25=np.array([0.822, 0.943])
#MAP_inner=np.mean(AP_inner)
#MAP_BM25=np.mean(AP_BM25)

#t_test=stats.ttest_ind(AP_inner, AP_BM25)
#print(t_test,"MAP inner= ", MAP_inner, "MAP BM25= ",MAP_BM25)

In [0]:
#mean=[]
#for i in range(1,len(Q)+1):
#  mean.append(np.mean(Q[0:i]))
#  mean1=np.array(mean)
#AP=(np.dot(mean1,Q))/(np.sum(Q))