In [1]:
!pip install xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.6/dist-packages (1.1.0)

In [0]:
import pandas as pd
import numpy as np
from scipy import stats

In [9]:
path = ('/sample_data')  
df = pd.read_csv('MAP - Sheet1.csv')
df

   Q1  P1  Q2  P2  Q3  P3
0   1 NaN   1 NaN NaN NaN
1   1 NaN   1 NaN NaN NaN
2   1 NaN   1 NaN NaN NaN
3   0 NaN   1 NaN NaN NaN
4   0 NaN   1 NaN NaN NaN
5   1 NaN   1 NaN NaN NaN
6   1 NaN   0 NaN NaN NaN
7   1 NaN   0 NaN NaN NaN
8   0 NaN   0 NaN NaN NaN
9   1 NaN   0 NaN NaN NaN

In [0]:
Q=np.array(df['Q1'])

In [106]:
mean=[]
for i in range(1,len(Q)+1):
  mean.append(np.mean(Q[0:i]))
  mean1=np.array(mean)
AP=(np.dot(mean1,Q))/(np.sum(Q))

0.8329931972789115

In [120]:
AP_inner=np.array([0.832, 0.911])
AP_BM25=np.array([0.822, 0.943])
MAP_inner=np.mean(AP_inner)
MAP_BM25=np.mean(AP_BM25)

t_test=stats.ttest_ind(AP_inner, AP_BM25)
print(t_test,"MAP inner= ", MAP_inner, "MAP BM25= ",MAP_BM25)

Ttest_indResult(statistic=-0.15224275525341954, pvalue=0.892966530443147) MAP inner=  0.8714999999999999 MAP BM25=  0.8825

In [0]:
#AP_inner=np.array([0.832, 0.911])
#AP_BM25=np.array([0.822, 0.943])
#MAP_inner=np.mean(AP_inner)
#MAP_BM25=np.mean(AP_BM25)

#t_test=stats.ttest_ind(AP_inner, AP_BM25)
#print(t_test,"MAP inner= ", MAP_inner, "MAP BM25= ",MAP_BM25)